DATABRICKS_HOST=https://...
DATABRICKS_WAREHOUSE_ID=your_sql_warehouse_id
DATABRICKS_APP_PORT=8000
DATABRICKS_APP_NAME=atlas-foncier
FLASK_RUN_HOST=0.0.0.0
DATABRICKS_GENIE_SPACE_ID=01f1b74de1e017db858e23e4b1db2bfe
